<div class="grid" style="margin-top: 12em;">
    <h3>Customers</h3>
    <div id="customer-controll">
</div>
<div id="customers">
    <div id="customer-header">
      <div class="cell">Company</div>
      <div class="cell">Contact Person</div>
      <div class="cell">Manager</div>
      <div class="cell"></div>
    </div>
    <div id="customer-list" class="list grid" *ngFor="let customer of customerList">
      <div class="cell">{{ customer.title }}</div>
      <div class="cell">{{ customer.contactPerson }}</div>
      <div class="cell">{{ customer.responsiblePerson }}</div>
      <div class="cell">
          <div (click)="toggleIframe()">Редактировать</div>
      </div>
    </div>    
  </div>
  <button >Toggle iFrame</button>
  <div  *ngIf="isIframeVisible">
    <form  [formGroup]="editCustomerForm">
      <label for='name'>Company:</label>
      <input type='text' formControlName="title">
      
      <label for='email'>Contact Person:</label>
      <input type='text' formControlName="contactPerson">
      
      <label for='message'>Message:</label>
      <textarea id='message' name='message'></textarea>
      
      <button type='submit'>Submit</button>
    </form>
  </div>
  <form #companyForm="ngForm" (ngSubmit)="submitForm(companyForm)">
      <input matInput placeholder="Название юр. лица" name="companyTitle" ngModel required>
  
      <input matInput placeholder="Юр и факт адресс" name="address" ngModel required>
  
      <input matInput placeholder="Телефон" name="phone" ngModel required>

      <input matInput placeholder="ИНН" name="inn" ngModel required>
      <input matInput placeholder="Сайт" name="website" ngModel>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
